/* variables */
:root {
  --main-white-color: white;
  --main-purple-color: #9e89b8;
}
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  background: var(--main-purple-color)
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/city.jpg) no-repeat
    center / cover;
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}
.page-main div {
  max-width: 500px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper > * {
  padding: 20px;
}
.page-main {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
}

.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}

.page-footer {
  display: flex;
  flex-direction: column-reverse;
}
.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
@media screen and (min-width: 550px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer ul {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }
  .page-header .cta-contact {
    order: 1;
  }
}

@media screen and (min-width: 768px) {
  .page-main {
    padding-left: 90px;
  }
}
