/* Tiny Tweaks */
.columna1 {
  padding: 10px;
  width: 100%;
  color: red
}

.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  background-color: #f0f0f0;
  padding: 10px;
}

@media (min-width: 600px) {
  .columna1 {
    padding: 20px;
    font-size: 1.5em;
  }
}

@media (min-width: 800px) {
  .columna1 {
    padding: 40px;
    font-size: 2em;
  }
}
